/*
 =====================================
 Base Grid style - uses monospace fonts - font is 1vw by 0.6 vw
 =====================================
*/
 
body {
    background: black;
    color: white;
    fill: white;
    font-family: "Roboto Mono", Courier;
    list-style-type: none;
    line-height: 30px;
    font-size: 20px;
    vertical-align: center;
}

/*
 =====================================
 Overlay Symbol Type
 =====================================
*/

.gold {
    color: yellow;
    fill: yellow;
    
}

.stairs {
    color: red;
    fill: red;
}

.rogue {
    color: blue;
    fill: blue;
}

/*
 =====================================
 Tile / Overlay Positions
 =====================================
*/

.tile {
    background: black;
    height: 1vw;
    position: absolute;
    width: 0.6vw;
}

#gold1 {
    left: 1.2vw;
    top: 5vw;
}

#gold2 {
    left: 3.6vw;
    top: 6vw;
}

#gold3 {
    left: 12vw;
    top: 4vw;
}

#gold4 {
    left: 3vw;
    top: 2vw;
}

#gold5 {
    left: 6vw;
    top: 4vw;
}

#gold6 {
    left: 13.2vw;
    top: 5vw;
}

#gold7 {
    left: 12.6vw;
    top: 1vw;
}


#stairs1 {
    left: 10.2vw;
    top: 5vw;
}

#stairs2 {
    left: 22vw;
    top: 5vw;
}






/*
 =====================================
 Component classes
 =====================================
*/

/*base map*/

ul {
    position: absolute;
    background: black;
}
li {
    padding: 0;
    margin: 0;
}

.rogue-map {
    margin-left: 5vw;
    margin-top: 5vw;
}

ul.room1 {
    
    left: 10.2vw;
    top: 10vw;
}

ul.room2 {
    
    left: 34.2vw;
    top: 5vw;
    height: 8vw;
}

ul.passage1 {
    left:25.8vw;
    top:10vw;
}

/*Status bar*/
ul.status-bar {
    left: 0;
    top: 20vw;
    
}

ul.title-bar {
    left: 45vw;
    top: 0;
}


ul.message-bar {
    left: 29vw;
    top: 2vw;
}


svg {
    width:100%;
    height: auto;
    font-size: 20px;
}

.text {
    display: inline;
}