
/*gold css positions*/
#gold1 {
    top: 260px;
    left: 360px;
}

#gold2 {
    top: 320px;
    left: 528px;
}


/*gold overlay tile*/
.gold {
    width: 12px;
    height: 20px;
    background: #000;
    color: yellow;
    position: absolute;
}

/*base map*/
ul.rogue-map {
    position: absolute;
    top: 200px;
    left: 300px;
}

body {
    background: black;
    color: white;
    font-family: "Roboto Mono", Courier;
    list-style-type: none;
    line-height: 20px;
    font-size: 20px;
}